#qt files
*.creator
*.config
*.files
*.includes
*.user

#cpp object/executable files
*.o
Makefile
*.out
*.exe
*.app

#jedit, gedit backup files
*.cpp~
*.h~
*.cpp#
*.h#

#qt build directory
build-*

#library install script
temporary
