#qt files
*.creator
*.config
*.files
*.includes
*.user

#cpp object/executable files
*.o
Makefile
*.out
*.exe
*.app

#jedit, gedit backup files
*.cpp~
*.h~
*.cpp#
*.h#

#qt build directory
build-*


#Library files
*.a
*.dylib
*.la
*.info
*.info-1
*.info-2